<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% results.each do |result| %>
      <tr>
        <td><%= result.uuid %></td>
        <td><code><%= result.data.as_json %></code></td>
        <td><%= link_to 'Show', run_result_path(@run, result) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
