<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @result.uuid %>
</p>

<p>
  <strong>Data:</strong>
  <code><%= @result.data %></code>
</p>

<%= link_to 'Back', run_path(@result.run) %>
