<p>
  <h1>Title:</h1>
  <%= @experiment.title %>
</p>

<%= render 'runs/runs', runs: @runs, experiment: @experiment %>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
